<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tables Fragment</title>
</head>
<body>
<table id="administrators-table" class="table table-bordered table-striped w-100 mt-2" th:fragment="administrators-table">
    <thead class="thead-primary">
    <tr>
        <th>ID</th>
        <th th:text="#{administrators.table.businessName}"></th>
        <th th:text="#{administrators.table.address}"></th>
        <th th:text="#{administrators.table.phone}"></th>
        <th></th>
    </tr>
    </thead>
</table>
</body>
</html>