<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forms Fragment</title>
</head>
<body>
    <!-- Admin add form -->
    <form th:fragment="admin-form(prefix, action, method, btnCaption)" action="#" th:action="@{${action}}" th:method="${method}" th:id="${prefix} + '-admin-form'">
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <h6 class="text-primary">Anagrafica</h6>
                    <div class="form-row">
                        <div class="col-6">
                            <label th:for="businessName" class="sr-only">Business Name</label>
                            <input type="text" th:id="${prefix} + '-businessName'" th:name="businessName" class="form-control mb-2" th:placeholder="#{administrator.businessName}">
                        </div>
                        <div class="col-6">
                            <label th:for="fiscalCode" class="sr-only">Fiscal Code</label>
                            <input type="text" th:id="${prefix} + '-fiscalCode'" th:name="fiscalCode" class="form-control mb-2" th:placeholder="#{administrator.fiscalCode}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="text-primary">Contatti</h6>
                    <div class="form-row">
                        <div class="col-4">
                            <label th:for="phone" class="sr-only">Phone</label>
                            <input type="text" th:id="${prefix} + '-phone'" th:name="phone" class="form-control mb-2" th:placeholder="#{administrator.landphone}">
                        </div>
                        <div class="col-4">
                            <label th:for="fax" class="sr-only">Fax</label>
                            <input type="text" th:id="${prefix} + '-fax'" th:name="fax" class="form-control mb-2" th:placeholder="#{administrator.fax}">
                        </div>
                        <div class="col-4">
                            <label th:for="mobilePhone" class="sr-only">Mobile Phone</label>
                            <input type="text" th:id="${prefix} + '-mobilePhone'" th:name="mobilePhone" class="form-control mb-2" th:placeholder="#{administrator.mobilePhone}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    <h6 class="text-primary" th:text="#{administrators.address}"></h6>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" th:id="${prefix} + '-address.street'" th:name="address.street" class="form-control mb-2" th:placeholder="#{address.street}">
                            <label th:for="address.street" class="sr-only">Street</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-4">
                            <input type="text" th:id="${prefix} + '-address.streetNumber'" th:name="address.streetNumber" class="form-control mb-2" th:placeholder="#{address.streetNumber}">
                            <label th:for="address.streetNumber" class="sr-only">StreetNumber</label>
                        </div>
                        <div class="col-4">
                            <input type="text" th:id="${prefix} + '-address.zipCode'" th:name="address.zipCode" class="form-control mb-2" th:placeholder="#{address.zipCode}">
                            <label th:for="address.zipCode" class="sr-only">Zip Code</label>
                        </div>
                        <div class="col-4">
                            <input type="text" th:id="${prefix} + '-address.city'" th:name="address.city" class="form-control mb-2" th:placeholder="#{address.city}">
                            <label th:for="address.zipCode" class="sr-only">City</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 pb-2">
                    <h6 class="text-primary">Note</h6>
                    <textarea th:id="${prefix} + '-note'" th:name="note" class="form-control" style="height: 83px"></textarea>
                    <label th:for="note" class="sr-only">Note</label>
                </div>
            </div>
            <div class="form-row justify-content-end mt-4">
                <button type="submit" class="btn btn-primary px-4 mx-1 text-uppercase" th:text="${btnCaption}"></button>
            </div>
        </div>
    </form>
    <!-- IS add form -->
</body>
</html>