<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forms Fragment</title>
</head>
<body>
    <!--  former input text + label  -->
    <th:block th:fragment="text_input_l(prefix, name, placeholder)" th:with="id=${prefix} + '-' + ${name}">
        <label th:for="${id}" class="sr-only" th:text="${placeholder}"></label>
        <input type="text" th:id="${id}" th:v-model="${prefix} + '.' + ${name}" class="form-control mb-2" th:placeholder="${placeholder}">
    </th:block>
    <!-- Admin add form -->
    <form th:fragment="admin-form(prefix, action, method, btnCaption)" action="#" th:action="@{${action}}" th:method="${method}" th:id="${prefix} + '-admin-form'">
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <h6 class="text-primary">Anagrafica</h6>
                    <div class="form-row">
                        <div class="col-6">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, businessName, #{administrator.businessName})}" />
                        </div>
                        <div class="col-6">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, fiscalCode, #{administrator.fiscalCode})}"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="text-primary">Contatti</h6>
                    <div class="form-row">
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, phone, #{administrator.landphone})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, fax, #{administrator.fax})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, mobilePhone, #{administrator.mobilePhone})}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    <h6 class="text-primary" th:text="#{administrators.address}"></h6>
                    <div class="form-row">
                        <div class="col">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.street', #{address.street})}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.streetNumber', #{address.streetNumber})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.zipCode', #{address.zipCode})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.city', #{address.city})}"/>
                        </div>
                    </div>
                </div>
                <div class="col-6 pb-2">
                    <h6 class="text-primary">Note</h6>
                    <textarea th:id="${prefix} + '-note'" th:name="note" class="form-control" style="height: 83px"></textarea>
                    <label th:for="${prefix} + '-note'" class="sr-only">Note</label>
                </div>
            </div>
            <div class="form-row justify-content-end mt-4">
                <button type="submit" class="btn btn-primary px-4 mx-1 text-uppercase" th:text="${btnCaption}"></button>
            </div>
        </div>
    </form>
    <!-- vue add form -->
    <form th:fragment="admin-form-vue(name, btnCaption, submitAction)" th:@submit="${submitAction}" th:with="prefix=${name} + '_admin'" th:id="${prefix} + '_form'">
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <h6 class="text-primary">Anagrafica</h6>
                    <div class="form-row">
                        <div class="col-6">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, businessName, #{administrator.businessName})}" />
                        </div>
                        <div class="col-6">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, fiscalCode, #{administrator.fiscalCode})}" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="text-primary">Contatti</h6>
                    <div class="form-row">
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, phone, #{administrator.landphone})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, fax, #{administrator.fax})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, mobilePhone, #{administrator.mobilePhone})}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    <h6 class="text-primary" th:text="#{administrators.address}"></h6>
                    <div class="form-row">
                        <div class="col">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.street', #{address.street})}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.streetNumber', #{address.streetNumber})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.zipCode', #{address.zipCode})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.city', #{address.city})}"/>
                        </div>
                    </div>
                </div>
                <div class="col-6 pb-2">
                    <h6 class="text-primary">Note</h6>
                    <textarea th:id="${prefix} + '-note'" th:v-model="${prefix} + '.note'" class="form-control" style="height: 83px"></textarea>
                    <label th:for="note" class="sr-only">Note</label>
                </div>
            </div>
            <div class="form-row justify-content-end mt-4">
                <button type="submit" class="btn btn-primary px-4 mx-1 text-uppercase" th:text="${btnCaption}"></button>
            </div>
        </div>
    </form>
    <!--  Invoice Subject  -->
    <form th:fragment="is-form-vue(name, btnCaption, submitAction)" th:@submit="${submitAction}" th:with="prefix=${name} + '_is'" th:id="${prefix} + '_form'">
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <h6 class="text-primary">Anagrafica</h6>
                    <div class="form-row">
                        <div class="col-6">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, businessName, #{administrator.businessName})}" />
                            <th:block th:replace="~{ :: text_input_l(${prefix}, businessName2, #{administrator.businessName} + '2')}" />
                        </div>
                        <div class="col-6">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, fiscalCode, #{administrator.fiscalCode})}" />
                            <th:block th:replace="~{ :: text_input_l(${prefix}, vatCode, #{invoice_sub.vatCode})}" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="text-primary">Contatti</h6>
                    <div class="form-row">
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, phone, #{administrator.landphone})}"/>
                            <h6 class="text-primary">Soggetto a ritenuta</h6>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, fax, #{administrator.fax})}"/>
                            <input type="checkbox" th:id="${prefix} + '-withholding'" th:v-model="${prefix} + '.withholding'">
                            <label th:for="${prefix} + '-withholding'" class="sr-only">Note</label>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, mobilePhone, #{administrator.mobilePhone})}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    <h6 class="text-primary" th:text="#{administrators.address}"></h6>
                    <div class="form-row">
                        <div class="col">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.street', #{address.street})}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.streetNumber', #{address.streetNumber})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.zipCode', #{address.zipCode})}"/>
                        </div>
                        <div class="col-4">
                            <th:block th:replace="~{ :: text_input_l(${prefix}, 'address.city', #{address.city})}"/>
                        </div>
                    </div>
                </div>
                <div class="col-6 pb-2">
                    <h6 class="text-primary">Note</h6>
                    <textarea th:id="${prefix} + '-note'" th:v-model="${prefix} + '.note'" class="form-control" style="height: 83px"></textarea>
                    <label th:for="${prefix} + '-note'" class="sr-only">Note</label>
                </div>
            </div>
            <div class="form-row justify-content-end mt-4">
                <button type="submit" class="btn btn-primary px-4 mx-1 text-uppercase" th:text="${btnCaption}"></button>
            </div>
        </div>
    </form>
</body>
</html>