<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forms Fragment</title>
</head>
<body>
<div class="modal" tabindex="-1" role="dialog" th:fragment="complete_modal(modal_id, modalTitle, modalBody, modalFooter)" th:id="${modal_id}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${modalTitle}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" th:insert="${modalBody}"></div>
            <div class="modal-footer" th:insert="${modalFooter}"></div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" th:fragment="simple_modal(modal_id, modalTitle, modalBody)" th:id="${modal_id}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${modalTitle}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" th:insert="${modalBody}"></div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" th:fragment="basic_modal(modal_id, modalBody)" th:id="${modal_id}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" th:insert="${modalBody}"></div>
        </div>
    </div>
</div>
</body>
</html>