<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tables Fragment</title>
</head>
<body>
<th:block th:fragment="vue_table(provider,fields,page,size,rows,url,id,content, no_result, no_result_filtered)">
    <b-table hover
             th::items="${provider}"
             th::fields="${fields}"
             th::current-page="${page}"
             th::per-page="${size}"
             th::api-url="${url}"
             th:id="${id}"
             th:insert="${content}"
             th:empty-text="${no_result_filtered}"
             th:empty-filtered-text="${no_result_filtered}"
             show-empty>
    </b-table>
    <b-pagination
            th:v-model="${page}"
            th::total-rows="${rows}"
            th::per-page="${size}"
            th:aria-controls="${id}"
            align="right"
    ></b-pagination>
</th:block>

<template v-slot:cell(id)="data" th:fragment="adm-table-columns">
    <div class="row justify-content-around">
        <a class="py-1 px-2 remove-administrator" href="#" @click="deleteModal(data.value)"><i class="fas fa-trash-alt text-danger"></i></a>
        <a class="py-1 px-2 edit-administrator" href="#" @click="editModal(data.value)"><i class="fas fa-pen text-primary"></i></a>
        <a class="py-1 px-2" :href="'/registries/administrators/' + data.value + '/detail'"><i class="fas fa-portrait text-dark"></i></a>
    </div>
</template>

<template v-slot:cell(id)="data" th:fragment="adm-detail-table-columns">
    <div class="row justify-content-around">
        <a class="py-1 px-2 remove-administrator" href="#" @click="deleteModal(data.value)"><i class="fas fa-trash-alt text-danger"></i></a>
        <a class="py-1 px-2 edit-administrator" href="#" @click="editModal(data.value)"><i class="fas fa-pen text-primary"></i></a>
    </div>
</template>

<template v-slot:cell(id)="data" th:fragment="is-table-columns">
</template>

</body>
</html>