<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tables Fragment</title>
</head>
<body>
<th:block th:fragment="vue_table(provider,fields,page,size,rows,url,id,content, no_result, no_result_filtered)">
    <b-overlay :show="isBusy"
               variant="transparent">
        <template v-slot:overlay>
            <div class="text-center">
                <my-spinner></my-spinner>
            </div>
        </template>
        <b-table hover
                 th::items="${provider}"
                 th::fields="${fields}"
                 th::current-page="${page}"
                 th::per-page="${size}"
                 th::api-url="${url}"
                 th:id="${id}"
                 th:insert="${content}"
                 th:empty-text="${no_result_filtered}"
                 th:empty-filtered-text="${no_result_filtered}"
                 show-empty>
        </b-table>
        <b-pagination
                th:v-model="${page}"
                th::total-rows="${rows}"
                th::per-page="${size}"
                th:aria-controls="${id}"
                align="right">

        </b-pagination>
    </b-overlay>
</th:block>

<template v-slot:cell(id)="data" th:fragment="adm-table-columns">
    <div class="row justify-content-around">
        <a class="py-1 px-2 remove-administrator" href="#" @click="deleteModal(data.value)"><i class="fas fa-trash-alt text-danger"></i></a>
        <a class="py-1 px-2 edit-administrator" href="#" @click="editModal(data.value)"><i class="fas fa-pen text-primary"></i></a>
        <a class="py-1 px-2" :href="'/registries/administrators/' + data.value + '/detail'"><i class="fas fa-address-card text-secondary"></i></a>
    </div>
</template>

<th:block th:fragment="adm-detail-table-columns">
    <template v-slot:cell(id)="data">
        <div class="row justify-content-around">
            <a class="py-1 px-2 remove-administrator" href="#" @click="deleteModal(data.value)"><i class="fas fa-trash-alt text-danger"></i></a>
            <a class="py-1 px-2 edit-administrator" href="#" @click="editModal(data.value)"><i class="fas fa-pen text-primary"></i></a>
        </div>
    </template>
    <template v-slot:cell(contract_info)="data">
        <a v-if="!!data.item.contract" class="py-1 px-2 " :href="'/contract/' + data.item.contract.id + '/detail'"><b-badge pill variant="primary">{{ data.item.contract.id }}</b-badge></a>
        <button v-else class="py-1 px-2 btn" @click="contractModal(data.item.id)"><i class="fas fa-plus-circle text-primary"></i></button>
    </template>
</th:block>

<th:block th:fragment="contract-detail-table-columns">
    <template v-slot:cell(formatted_deadline)="data">
        {{ monthName(data.item.serviceDeadline) }}
    </template>
    <template v-slot:cell(id)="data">
        <button class="btn btn-white text-primary mx-auto" @click="showMemos(data.value)">
            <i class="fas fa-external-link-alt"></i>
        </button>
    </template>
</th:block>

<th:block th:fragment="memo-table-columns">
    <template v-slot:cell(actions)="row">
        <button class="btn btn-white" @click="row.toggleDetails" :class="{ 'fa-rotate-90' : row.detailsShowing}">
            <i class="fas fa-chevron-right"></i>
        </button>
    </template>

    <template v-slot:row-details="row">
        <p>{{ row.item.memoContent }}</p>
    </template>
</th:block>

<template v-slot:cell(id)="data" th:fragment="is-table-columns">
</template>

</body>
</html>