@import "../base/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/pagination";

.dataTables_paginate {
  justify-content: flex-end !important;
  @extend .pagination;

  span {
    @extend .pagination;
  }

  .paginate_button, .ellipsis {
    @extend .page-link;
    cursor: default;
    &:last-child {
      display: none;
    }
  }
}
