@import "../base/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/navbar";
@import "~bootstrap-vue/src/components/navbar/index";

.navbar {
  height: 4.375rem;
  background-color: transparentize($primary, .7);
  .over-sidebar {
    margin-left: $bar-width;
  }
}
