<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="'Teti | ' + #{title.manage_admin}"></title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</head>
<body>
<nav th:replace="components/bars :: navbar(#{title.manage_admin})"></nav>
<nav th:replace="components/bars :: sidebar('registries', 'admin')"></nav>
<main class="over-sidebar col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="text-primary mb-3" th:text="#{administrators.add-administrator}"></h5>
            <form action="#" th:replace="components/forms :: admin-form(add, '/adm-api/save', post, #{btn.save})"></form>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-start">
                <h5 class="text-primary mb-3" th:text="#{administrators.list-administrator}"></h5>
                <a class="py-1 px-2" data-toggle="collapse" href="#admin-filters" role="button">
                    <i class="fas fa-sliders-h text-primary"></i>
                </a>
            </div>
            <div id="admin-filters" class="collapse">
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-primary mb-2">Filtra Amministratori</h6>
                        <form action="#" th:replace="components/forms :: admin-form(search, '/adm-api/', post, #{btn.search})"></form>
                    </div>
                </div>
            </div>
            <table th:replace="components/dataTables :: administrators-table"></table>
        </div>
    </div>
</main>
<div th:replace="components/modals :: t_simple_modal('edit-admin-modal', 'modal-lg modal-dialog-centered', #{administrators.edit-administrator}, ~{components/forms :: admin-form(edit, '/adm-api/:id/edit', put, #{btn.update})})"></div>
<div th:replace="components/modals :: t_basic_modal('info-modal', 'modal-dialog-centered', ~{ :: info-content})">
    <th:block th:fragment="info-content" >
        <div class="row justify-content-center">
            <span th:text="#{info.administrator.add}"></span>
        </div>
        <div class="row justify-content-center">
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>
    </th:block>
</div>
</body>
</html>