<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="'Teti | ' + #{title.manage_admin}"></title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/admin.js}"></script>
</head>
<body>
<nav th:replace="components/bars :: navbar(#{title.manage_admin})"></nav>
<div class="container-fluid" sec:authorize="isAuthenticated()">
    <div class="row">
        <nav th:replace="components/bars :: sidebar('registries', 'admin')"></nav>
        <main role="main" class="over-sidebar col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-primary mb-3">Aggiungi Amministratore</h5>
                    <form action="#" th:replace="components/forms :: add-admin"></form>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>