<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Teti | ' + #{title.contract.detail}"></title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/contract_detail.css}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var contractId = /*[[${contract.id}]]*/ 'default';
        /*]]>*/
    </script>
</head>
<body>
<div id="app">
    <nav th:replace="components/bars :: navbar_vue(#{title.contract.detail} + ' ' + ${contract.id})"></nav>
    <nav th:replace="components/bars :: vue_sidebar"></nav>
    <main class="mx-auto col-md-9 col-lg-10 pt-3 px-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-6">
                                                <div class="info-wrapper">
                                                    <span th:text="${contract.id}"></span>
                                                </div>
                                                <small class="info-name" th:text="#{contract.id}"></small>
                                            </div>
                                            <div class="col-6">
                                                <div class="info-wrapper">
                                                    <span  th:text="${!#strings.isEmpty(contract.billingMonth)}? ${contract.billingMonth} : '---'"></span>
                                                </div>
                                                <small class="info-name" th:text="#{contract.billingMonth}"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="info-wrapper">
                                                    <span  th:text="${!#strings.isEmpty(contract.billingAmount)}? ${contract.billingAmount} : '---'"></span>
                                                </div>
                                                <small class="info-name" th:text="#{contract.billingAmount}"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="info-wrapper">
                                                    <th:block th:if="${!#sets.isEmpty(contract.closingMonths)}">
                                                        <th:block th:each="month, iStat: ${contract.closingMonths}">
                                                            <span th:text="${iStat.last}? ${month.closingMonth} : ${month.closingMonth} + '-'"></span>
                                                        </th:block>
                                                    </th:block>
                                                    <span th:text="${!#strings.isEmpty(contract.closingMonths)}?${admin.note} : '---'"></span>
                                                </div>
                                                <small class="info-name" th:text="#{contract.closingMonth}"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-primary" th:text="#{service.add}"></h4>
                                <form th:replace="components/forms :: service-form-vue(save, #{btn.save}, 'saveService')"></form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="text-primary" th:text="#{contract.related.services}"></h4>
                        <th:block th:insert="components/tables :: vue_table(services,fields,'service.page','service.size','service.rows','service.url','service-table', ~{components/tables :: contract-detail-table-columns}, #{service.none}, #{contract.none.filtered})"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6" :class="{ 'd-none' : service.target === undefined}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-primary">{{ service.target }} - Memo</h5>
                        <th:block th:insert="components/tables :: vue_table(memos,memo_fields,'memo.page','memo.size','memo.rows','service.url','memo-table', ~{components/tables :: memo-table-columns}, #{memo.none}, #{memo.none.filtered})"/>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="text-primary" th:text="#{memo.add}"></h5>
                        <form th:replace="components/forms :: memo-form-vue(save, #{btn.save}, 'saveMemo')"></form>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="delete-service-modal" centered size="sm" hide-footer header-bg-variant="danger" header-text-variant="light" th:title="#{service.delete}">
            <div class="row text-center">
                <p>Sei sicuro di voler eliminare il servizio {{ service.remove }} ?</p>
                <form action="#" class="mx-auto">
                    <button type="submit" class="text-uppercase btn btn-danger" th:text="#{btn.delete}" @click="deleteService"></button>
                </form>
            </div>
        </b-modal>
        <b-modal id="delete-memo-modal" centered size="sm" hide-footer header-bg-variant="danger" header-text-variant="light" th:title="#{memo.delete}">
            <div class="row text-center">
                <p>Sei sicuro di voler eliminare il memo {{ memo.remove }} ?</p>
                <form action="#" class="mx-auto">
                    <button type="submit" class="text-uppercase btn btn-danger" th:text="#{btn.delete}" @click="deleteMemo"></button>
                </form>
            </div>
        </b-modal>
    </main>
</div>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/contract_detail.js}"></script>
</body>
</html>