<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="'Teti | ' + #{title.dashboard}"></title>
    <link rel="stylesheet" th:href="@{css/common.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <script th:src="@{js/common.js}"></script>
</head>
<body>
<div id="app">
    <nav th:replace="components/bars :: navbar_vue(#{title.dashboard})"></nav>
    <nav th:replace="components/bars :: vue_sidebar"></nav>
    <main class="mx-auto col-md-9 col-lg-10 pt-3 px-4">
</div>
<script th:src="@{js/index.js}"></script>
</body>
</html>