@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

$black: #231f20;
$pink: #d1599f;
$red: #e32526;
$yellow: #ffce00;
$lime: #c4d600;
$green: #2f9a41;
$teal: #2db49c;
$purple-light: #3b3d95;
$purple: #140f3a;
$blue: #3A53A4;
$boh : #82C0D4;
$darker-blue: #003874;
$prussian-blue : #032b43;
$blue-gray : #7796cb;
$dark-blue-gray : #576490;
$lavender-blue : #d1d2f9;
$lavender-gray : #c9cad9;
$rosso-corsa : #d00000;
$beau-blue : #bdd4e7;
$selective-yellow : #ffba08;
$theme-colors : (
        "otr" : $purple-light,
        "lc" : $purple,
        "wat" : $lime,
        "ed" : $red,
        "hh" : $yellow,
        "primary" : #3452a0, //skobeloff
        "success" : #20bf55 , // caribbean green
        "green" : $green,
        "blue" : $blue,
        "secondary" : #f6ae2d, // eagle green
        "light" : #F2F4F3, // cultured
        "muted" : #9F9AA4, // manatee
        "danger" : #EE2E31, // cg-red
        "warning" : #F3C969 // maize
);

$primary : #464655;
$secondary: #f6ae2d;
$bar-width:             20rem;
$border-radius:         .1rem;
$border-radius-lg:      .1rem;
/*$modal-fade-transform:  scale(.4);
$modal-show-transform:  scale(.8);*/
$modal-backdrop-bg:     $primary;
$modal-backdrop-opacity:.7;

@import "~bootstrap/scss/variables";
@import "typography";